@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

body {
  font-family: 'Work Sans', sans-serif;
  /* min-height: 100vh !important; */
  /* display: flex; */
  background-image: url("./background-chat.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  max-height: 100vh !important;
}

/* Edit scroll bar */
::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.281) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555 !important;
}
